# Virtual Environment
venv/
env/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env
.env.local

# Logs
*.log 